
#stream-box i {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

#stream-controller{
    font-size: 2em
}

.xs {
    font-size: .5em;
}
#ticker-container {
    width: 10em
}

.marquee-text {
    padding-left: 7px
}