
#stream-box svg {
    cursor: pointer;
}

#stream-controller{
    font-size: 2em
}

.xs {
    font-size: .5em;
}
#ticker-container {
    width: clamp(6em, 10vw, 15em)
}

.marquee-text {
    padding-left: 7px;
    font-weight: 850;
}