.nav-link {
  text-decoration: none;
  color: white !important;
  font-weight: bold !important;
  padding: 1em 3em!important;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(0,0,0,.1); /* Change the background color on hover */
}

#wbar-logo {
  filter: contrast(140%) ; /* Invert the logo colors */
}

#navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(154, 29, 227, 0.3);
  /*background-color: rgba(0, 0, 0, 0.34);*/
  backdrop-filter: blur(25px);
  z-index: 100;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

