@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

html, body, .App {
    font-family: "Newsreader", serif;
    background-color: black;
    width: 100vw;
    height: 100vh;

    /* default text color = white. Easily overriden in other components */
    color: var(--bs-white);
}

#link-to-form {
    color: var(--bs-white);
    position: fixed;
    font-size: 3em;
    left: 25px;
    bottom: 0;
    z-index: 1000;
    cursor: pointer;
}

#link-to-form:hover {
    color: #e0cde8 !important;
}

/* Disable scrolling for the home page */
body.no-scroll {
    overflow: hidden;
}


/* Form styles! Overrides bootstrap defaults and makes forms "dark mode" */
input, select, textarea {
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark-border-subtle) !important;
    color: var(--bs-white) !important;
}

::placeholder {
    color: rgba(255, 255, 255, 0.56) !important;
}
